@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');
.menu-click{
    display: inline-block ;
    
}
.logo{
float: left;
 
}

    .logostyle{
        font-family: roboto ;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase
        
    }

    .logostyle::first-letter{
        font-size: 90px
    }
 
.menu{
    float: right
}
.body{
    margin-left: 262px;
    margin-right: 262px;
    margin-top: 38px;
}
.menumarg{
    margin-left: 34px;
}