@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
* {
  margin: 0;
  padding: 0;
}
.menu-click {
  display: inline-block;
}
.logo {
  float: left;
  font-family: roboto;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  color: #555252;
  text-decoration: none;
}
header::after {
  display: table;
  clear: both;
  content: "";
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.menu {
  float: right;
}
.header {
  margin: 40px auto 20px;
  max-width: 1120px;
}
.menumarg {
  margin-left: 34px;
}
.menu-link {
  font-family: "Open sans";
  text-decoration: none;
  color: #0f0101;
  text-transform: uppercase;
}
.menu-link:hover {
  color: #1abc9c;
}

.footer {
  height: 88px;
  background-color: #323232;
  font-family: "Open sans";
  text-align: center;
}
.fotsp {
  position: relative;
  top: 35px;
  color: #fefefe;
}
.lword {
  color: #46bfa9;
}

.texts {
  line-height: 100px;
  position: absolute;
  color: white;
  left: 400px;
  top: 200px;
  text-align: left;
  font-size: 24px;
  font-family: "Roboto";
}
.slider {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 100px
}
h2 {
  font-size: 60px;
}

.btn1 {
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  opacity: 0.65;
  bottom: 80px;
  right: 869px;
  text-align: center;
  content: "e686";
  color: white;
}
.btn2 {
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  opacity: 0.65;
  bottom: 80px;
  right: -130px;
  text-align: center;
  content: "e686";
  color: white;
}
.btn1:hover {
  background-color: aquamarine;
}
.btn2:hover {
  background-color: aquamarine;
}
.imgwrap {
  max-width: 1600px;
  width: 100hw;
  height: 600px;
  object-fit: cover;
}
.buttonsslider {
  font-size: 70px;
}
.describe2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  color: #515151;
  font-size: 48px;
}
.describe2::after {
  content: "";
  display: block;
  margin: 30px auto 0;
  width: 164px;
  height: 7px;
  background-color: #19bb9b;
  margin-bottom: 80px;
}
