@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0;
          box-sizing: border-box;
}
/* Header */
/* Header */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    header{
      background-image: url(../img/background-header/bg@2x-min.png)
    }
}
header{
  background-image: url(../img/background-header/bg.png);
  background-size: cover;
  padding: 10px;
  margin-bottom: 112.5px;
  background-repeat: no-repeat;
  padding-bottom: 100px;

}
.header {

  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

          justify-content: space-between;

          align-items: flex-end;
margin-bottom: 60px;

}


.logo a {
  text-decoration: none;
  color: white;
}
.logo {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 900;
}
main{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.nav {
  text-decoration: none;
  width: 490px;
}
ul.nav_menu li {
  list-style: none;
  display: inline-block;
}
.nav_menu {

  display: flex;

          justify-content: space-between;

}
.nav_item {
  position: relative;
  display: block;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.nav_click {
  color: white;
  text-decoration: none;

  transition: color 0.7s
}
.nav_item:hover .nav_click {
  color: gold;
}
.nav_item:hover .fill{
  fill: gold
}

.nav_item::after {
  position: absolute;
  content:"";
  width: 0;
  height: 2px;
  background: gold;
  bottom: 0;
  left: 50%;

  transition: width .7s, left .7s;
}
.nav_item:hover::after {
  width: 100%;
  left:0;
  background-color: gold;
}
/* Header */
/* Header */
/* Footer */
/* Footer */
.footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #e5e5e5;

  display: flex;

          justify-content: space-between;
          align-items: center;
  margin-bottom: 13px;
}

.footer__by {
  margin-top: 25px;
  font-family: "Montserrat";
  font-size: 14px;
  color: #333333;
}
.footer__author {
  text-decoration: none;
  text-transform: none;
  color: #f38181;
}
.footer__subscribe {
  margin-top: 25px;
}
.input {
  height: 38px;
  width: 228px;
  font-family: "Roboto";
  font-weight: 300;
}

.footer__button {
  height: 38px;
  width: 150px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 14px;
  background-color: #95e1d3;
  border: none;
  color: white;
}
/* Footer */
/* Footer */
/* Body */
/* FIRSTBLOCK */
.services {
  text-align: center;


          justify-content: center;
}

.services__line{
  text-align: center;
}
.services__line--first {
  font-family: "Kaushan Script";
  font-size: 24px;

}
.services__line--second {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;

}
.team__line{
  text-align: center;
}
.team__line--first {
  font-family: "Kaushan Script";
  font-size: 24px;

}
.team__line--second {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;

}

.services__block-title::after {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
  text-align: center;
  display: block;
  content: "";
  margin-top: 42px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.team__block-title::after {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
  text-align: center;
  display: block;
  content: "";
  margin-top: 42px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.content1 {

  display: flex;

      flex-wrap: wrap;

          justify-content: space-between;
  text-align: center;

      align-content: space-between;
}
.service__frstword {
  display: block;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-family: "Roboto";
  font-size: 15px;
  width: 350px;
  margin-bottom: 96px;
}
.service__servdesc {
  width: 270px;
}
.service__ico {
  width: 32px;
  height: 32px;
  margin-right: 30px;
}
.icon{
  width: 32px;
  height: 32px;
  fill:#f38181;
  transition: all 0.9s;

}
.fill{
  color: white;
  transition: 0.7s all;
}


.hidden{
  display: none
}
.hover__visit:hover .icon{
  fill: #fce38a
}

p {
  color: #999999;
}
/* FIRSBLOCK */
/* SECONDBLOCK */
.content2 {

  display: flex;


          justify-content: space-between;

      align-content: center;
  margin-bottom: 86px;

      flex-wrap: wrap;
}
.team {
  text-align: center;
}

.team__about {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 96px;
}
.cart {
  width: 380px;
}
.cart__hover {

  transition: all 1.3s;
  height: 470px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
 position: relative;

          align-items: center;

          justify-content: center;

}
.cart__hoverhover{

  transition: all 1.3s ;
  height: 470px;
  width: 380px;
  position: absolute;
  background: url(../img/hover/1.png);
  opacity: 0;
  z-index: 0;
  right: 0;
  bottom: 0;

}
.cart:hover .cart__hoverhover{
  opacity: 0.9;
  z-index: 2;
  right: 10px;
  bottom: 10px;
}




.cart__devs{

width: 380px;
  position: absolute;
  bottom: 0;
  right: 0;

  transition: all 1s;


}

.cart:hover .cart__devs{

  bottom: 10px;
right: 10px;


}


.cart__photo {
  position: relative;
  background-color: #95e1d3;
  margin-bottom: 31px;
  height: 470px;
}
.name {
  font-family: "Montserrat";
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  text-transform: uppercase;
}
.spec {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
}
.hover__visit {
  position: relative;

  transition: all 1.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  content: "";
  display: relative;
  background-color: #fce38a;
z-index: 0;
  margin: 0 1px;

          justify-content: center;

          align-items: center;
  opacity: 0;
  bottom: 0;
  right: 0;
}
.hover__visit:hover {
  background-color: #97dfd1;

}


.cart:hover .hover__visit{
  right: 10px;
  bottom: 10px;
  opacity: 1;
  z-index: 5;
}