@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");
.menu > .menu-select {
  display: inline;
  margin-right: 60px;
  margin-left: 60px;
  text-align: center;
}

.menu-select {
  margin: 0 15px 0 15px;
}
.menu-link {
  text-align: center;
  margin: auto;
  color: #818181;
  text-decoration: none;
  font-stretch: extra-expanded;
}
.header {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 103px;
  margin-top: 78px;
  font-weight: bold;
}
.menu-link:hover {
  color: #03a9f4;
}

.button {
  width: 162px;
  align-content: center;
  text-align: center;
  border: 1px solid #626262;
  padding: 15px 10px;
  margin: auto;
  margin-bottom: 30px;
}
.button-click {
  padding: 0;
  border: none;
  font-family: "Playfair Display";
  font-size: 20px;
  color: #626262;
  background-color: transparent;
  cursor: pointer;
}
.button-click:hover {
  color: #03a9f4;
}
.cards>.card{
  font-size: 14px;
  margin: auto 30px 57px 30px
}
.card {
  width: 420px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.cards {
  font-family: "Playfair Display", serif;
  text-align: center;
  width: 960px;
  margin: auto auto;
  font-size: 0px
}
p .article {
  font-size: 14px;
}
.little {
  color: #b4ad9e;
  font-family: ubuntu;
  text-transform: uppercase;
  font-size: 14px;
}

.artstyle {
  color: #626262;
  margin: 0;
}

.title {
  font-weight: normal;
  font-size: 30px;
}
