@media (min-width:768px){
	body{
		min-width: 768px;
	max-width: 1199px;
	}
	.cards{
		flex-direction: row;
		width: 492px;
		flex-wrap: wrap;
		justify-content: space-between
	}

	.log{
		order: 1
	}
	.header{
		background-image: url(../img/tabletbackground.png)
	}
	#p2{
		order:2
	}
	#p3{
		order: 1
	}
	#p4{
		order: 3;
		position: absolute;
		right: 00px;
		top: 248px;
	}
	.ico{
		left: 80px;
	}
	.logtext{
		width: 671px;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline
	}
	.card{
		width: 220px
	}
	.text2{
		font-size: 52px;

	}
	.text3{
		font-size: 24px;
		width: 600px;
	}
	.title{
		width: 500px;
	}
}
@media (min-width:1200px){
.header{
	background-image: url(../img/desktopbackground.png);
	margin-bottom: 51px;
	padding-bottom: 200px;

}
body{
	min-width: 1200px;
	max-width: 2000px;

}
.logtext{
	width: 942px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px
}
.cards{
	width: 942px;
	align-items: baseline;
}
#p4{
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
}