*{
	margin: 0;
	padding: 0;
box-sizing: border-box;
}
body{
	min-width: 320px;
	max-width: 767px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center
}
.header{
width: 100%;
background-repeat: no-repeat;
	background-image: url(../img/backgroundimg.png) ;
padding-bottom: 25%;
background-size: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 74px;


}
.logtext{
	display: flex;
flex-direction: column;
align-items: center;
width: 400px;

}
a{
	text-decoration: none;
	text-transform: none;
}
.log{

	display: flex;
	justify-content: space-between;
width: 152px;
	margin: 20px 0 120px;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 14px;
	align-items: center;


}
.log a{
	color: white;
}
.signup{
border-radius: 50px;
border: solid white 3px;
padding: 8px 12px;
}
.sometext{
	text-align: center;
	width: 91.5%;
	margin: 0 auto;
}
.text1{
font-family: "Montserrat";
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
color: white;
margin-bottom: 40px;
}
.text2{
	font-family: "Montserrat";
	font-weight: 700;
text-transform: uppercase;
	font-size: 30px;
	display: block;
	color: white;
	margin-bottom: 24px;
}
.text3{
	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	color: white;
	padding-bottom: 20px;
}
.button{
	padding: 17px 51px;
	background-color: #ff4e50;
	border-radius: 50px ;
font-family: "Montserrat";
font-weight: 800;
color: white;
border: solid #ff4e50 ;
}
main{
	min-width: 320px;
	max-width: 767px;
	margin: 0 auto 57px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	font-size: 21.8px;
	font-family: "Montserrat";
font-weight: 800;
margin-bottom: 20px;
width: 261px;
}
.cards{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card{
	margin-bottom: 32px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 220px;
}
.photo{
	margin-bottom: 24px;
	position: relative;
}
.ico{
	position: absolute;
	left: 80px;
	bottom: -6px;
}
.name{
	font-family: "Montserrat";
	font-weight: 800;
	font-size:13.97px;
	margin-bottom: 19px;
}
.description{
	font-family: "Roboto";
	font-weight: 300;
	font-size: 13.97px;
	color: #666666;
}
.btn{
	padding: 17px 73px;
	background-color: white;
	border-radius: 50px ;
	color: #ff4e50;
font-family: "Montserrat";
font-weight: 800;
border: solid #ff4e50 ;
}
