*{
	margin: 0;
	padding: 0;
box-sizing: border-box;
}
body{
	min-width: 320px;
	max-width: 767px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center
}
.header{
width: 100%;
background-repeat: no-repeat;
	background-image: url(../img/backgroundimg.png) ;
padding-bottom: 100%;
background-size: 100%;

}
a{
	text-decoration: none;
	text-transform: none;
}
.log{

	display: flex;
	justify-content: space-between;
	width: 47.1%;
	margin: 20px auto 120px;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 14px;
	align-items: center;


}
.log a{
	color: white;
}
.signup{
border-radius: 50px;
border: solid white 3px;
padding: 8px 12px;
}
.sometext{
	text-align: center;
	width: 91.5%;
	margin: 0 auto;
}
.text1{
font-family: "Montserrat";
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
color: white;
margin-bottom: 40px;
}
.text2{
	font-family: "Montserrat";
	font-weight: 700;
text-transform: uppercase;
	font-size: 30px;
	display: block;
	color: white;
	margin-bottom: 24px;
}
.text3{
	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	color: white;
	padding-bottom: 20px;
}
.button{
	padding: 17px 51px;
	background-color: #ff4e50;
	border-radius: 50px ;
font-family: "Montserrat";
font-weight: 800;
color: white;
border: solid #ff4e50 ;
}
